{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <!-- Add your CSS link here -->
    <link rel="stylesheet" href="{% static '/lms/styles.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="container">
        <div class="navbar-left">
            <div class="navbar-brand">
                <img src="{% static 'lms/logo.png' %}" alt="LMS Logo">
                <a href="{% url 'lms-home'%}" class="navbar-title">Library Management System</a>
            </div>
        </div>
        <div class="navbar-right">
            <div class="navbar-links">
                {% if user.is_authenticated %}
                <a href="{% url 'add_book' %}" class="nav-link">Add Book</a>
                <a href="{% url 'add_author' %}" class="nav-link">Authors</a>
                <a href="{% url 'add_genre' %}" class="nav-link">Genres</a>
                <form method="post" class="nav-link" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="content">
    {% block content %}
    {% endblock content%}
</div>

</body>
</html>
