{% extends 'lms/_base.html' %}

{% block content %}
    <h1>Add Book</h1>
    <form method="POST" action="{% url 'add_book' %}">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>

        <label for="author">Author:</label><br>
        <select name="author" id="authorSelect">
            <option value="">Select Author</option>
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select><br>

        <label for="genre">Genre:</label><br>
        <select name="genre" id="genreSelect">
            <option value="">Select Genre</option>
            {% for genre in genres %}
                <option value="{{ genre.id }}">{{ genre.name }}</option>
            {% endfor %}
        </select><br>               

        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>

        <label for="published_date">Published Date:</label><br>
        <input type="date" id="published_date" name="published_date"><br>

        <label for="isbn">ISBN:</label><br>
        <input type="text" id="isbn" name="isbn"><br>

        <input type="submit" value="Add Book">
    </form>
{% endblock content %}