{% extends 'lms/_base.html' %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
    <h1 style='margin: 20px'>Welcome to the home page of LMS!</h1><br>

    <h1 style='margin: 20px'>All Books</h1>
    <ul>
        {% for book in books %}
            <li style='margin-left: 35px;'><b>{{ book.title }} - {{ book.author.name }}</b></li>
            <li style='margin-left: 35px; list-style-type: none;'>{{ book.genre }}</li><br>
            <li style='margin-left: 35px; list-style-type: none;'>{{ book.description }}</li>
            <li style='margin-left: 35px; list-style-type: none;'>
                {% if user.is_authenticated %}
                <form action="{% url 'delete_book' book.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock content%}
