/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar Styles */
.navbar {
    background-color: #882345;
    color: whitesmoke;
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    margin-right: auto; /* Pushes the navbar-brand to the left */
}

.navbar-right {
    margin-left: auto; /* Pushes the navbar-links to the right */
}

/* Navbar Brand Styles */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.navbar-title {
    font-size: 20px;
}

/* Navbar Links Styles */
.navbar-links {
    display: flex;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

/* Content Styles */
.content {
    padding: 20px;
}
