* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: #882345;
    color: whitesmoke;
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    margin-right: auto;
}

.navbar-right {
    margin-left: auto;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 70px;
    height: auto;
    margin-right: 10px;
}

.navbar-title {
    font-size: 20px;
}

a.navbar-title {
    text-decoration: none;
    color: inherit;
}

.navbar-links {
    display: flex;

}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.nav-link {
    margin: 20px;
}

.nav-link button {
    width: 75px;
    height: 30px;
}

/* Content Styles */
.content {
    padding: 20px;
}

.genre-container {
    display: flex;
}

.add-genre, .all-genres {
    flex: 1;
}

.add-genre {
    margin-right: 20px;
}

.author-container {
    display: flex;
}

.add-author, .all-authors {
    flex: 1;
}

.add-author {
    margin-right: 20px;
}